<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/login.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Employee login</h1>
    <form method="POST" action="/login">
        <label for="employee_id">Employee id: </label>
        <input type="text" id="employee_id" name="employee_id" placeholder="password" />
        <br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="password" />
        <br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>