<h1> New Resource Form </h1>
<form method="POST" action="/new-resource">
    <label for="name">Name</label>
    <input type="text" name="resource_name" id="resource_name" required><br> 
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity"required><br>
    <input type="submit" value="Submit Resource Type">
</form>
<button id="backBtn">Back</button>